{{log this}}
<div class="d-flex flex-row justify-content-column flex-wrap gap-5 py-2">
    {{#projects}}
        <div class="d-flex flex-column border border-black w-42 p-4 gap-3 portfolio-project">
            <div class="d-flex flex-row align-items-center gap-3 text-121212" style="font-size: 25px;">
                <span>{{this.Name}}</span>
                <img data-url="{{this.GitHubUrl}}" style="width: 20px; height: 20px;cursor:pointer" src="assets/images/github-mark-white.svg" onclick="window.open('{{this.GitHubUrl}}', '_blank');">
                
                {{#if this.TestUrl}}
                    <img data-url="{{this.TestUrl}}" style="width: 25px; height: 25px;cursor:pointer" src="assets/images/preview.svg" onclick="window.open('{{this.TestUrl}}', '_blank');">
                {{/if}}
            </div>
                
            <div class="text-20 fw-600">{{this.Date}}</div>
            <div class="text-16 fw-500" style="line-height: 24px;">
                {{getPhrase this.Description}}
            </div>
        </div>
    {{/projects}}
</div>